/* Elements */

body {
    background-color: whitesmoke;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Class */

.chunk {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    margin: auto;
}

.center {
    width: 100%;
    margin: auto 100px;
}

.nav {
    position: fixed;
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(180deg, whitesmoke, rgba(0, 0, 0, 0) 59%, transparent);
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    margin: auto 0;
    width: 100%;
}

.sub {
    font-size: 3vw;
}

.title {
    font-size: 7vw;
    margin-bottom: 8px;
    margin-left: -5px;
}

.desc {
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    max-width: 55%;
    font-weight: lighter;
    color: black;
}

.period {
    color: #701526;
}

.hero-img {
    width: 40vw;
    margin-left: auto;
    display: block;
}
